/* PAGINA DE AVISO */

p{
    color: aliceblue;
    width: 550px;
    font-size: x-large;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 50px;
}


/* PAGE DOS ALUNOS ESCOLHIDOS... */
.personagem{
    text-align: center;
    display: flex;
    margin: 40px 80px 40px 80px;
    flex-direction: column;
}

img {
    Width: 210px;
    Height: 230px;
    border: 5px solid #A40201;
    box-sizing: border-box;
    border-radius: 15px;
}

.characteres{ 
    display: flex;
    flex-direction: row;
}

h3, h4 {
    color: antiquewhite;
}