
.card {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}

.paragrafo-page-two {
    width: 100%;
    text-align: center;
}

.mae{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
}

button{
    width: 545px;
    height: 58px;
    background: #F9E141;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-weight: 600;
    font-size: 20px;
    line-height: 41px;
}

@media screen and (min-width: 900px) {
    .paragrafo-page-two {
        width: 500px;
    }
}